
body{
  font-family: Arial, sans-serif;
  background:#b85a72;
  color:#fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:40px;
}

form{
  background:#32465c;
  padding:20px;
  border-radius:12px;
  width:320px;
}

input, select, textarea{
  width:100%;
  margin:6px 0;
}
